@media screen and (max-width: 768px) {
  #category-section {
    margin-bottom: 1rem;
  }

  .gridcontainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      width: 100%;
  }
  
  .mutual-friends {
    padding-bottom: 1em;
  }
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 14em);
    gap: 4em 2em;
  }

.gridcontainer img {
  border-radius: 50%;
  width: 10em;
  padding-top: 1em;
}

.card {
  align-items: center;
}

.mutual-friends {
  margin-left: 10px;
}

.mutual-friends img {
  border-radius: 50%;
  margin-left: -10px;
}

  