body {
    background-color: #e9d9d0;
    font-family: "Lato";
    color: #4D0F1F;
}

h1 {
    font-size: 2em;
    font-family: "Barriecito";
}

.suggestion-section {
    margin: 1% 10%;
}

a {
    color: #4D0F1F;
}

.special-border {
    border: 1pt solid #4D0F1F;
    margin: 5%;
}

.custom-navbar {
    color: #083D77;
    width: 100%;
    padding: 5%;
    text-align: center;
    justify-content: center;
    font-size: 4em;
}

.form-select {
    border-width: 1pt;
    border-color: #4D0F1F;
    background-color: #e9d9d0;
    color: #4D0F1F;
    border-radius: 0%;
    box-shadow: 2px 5px 8px #888888;
}

button {
    font-family: "Barriecito";
    background-color: #e9d9d0;
    border: 1pt solid #4D0F1F;
    color: #4D0F1F;
    font-size: 1.5em;
}

#random-craft-button {
    width: 100%;
    box-shadow: 2px 5px 8px #888888;
}

#random-craft-button:hover {
    color: #e9d9d0;
    background-color: #083D77;
    border-color: #083D77;
}

.badge {
    cursor: pointer;
}

.box {
    margin: 5%;
    text-align: center;
}

.col2 {
    padding-top: 2.5%;
}

#selector {
    justify-items: center;
    width: 80%;
    padding: 5%;
    margin: 5% 10%;
}

#videos-list {
    padding: 2.5%;
    width: 100%;
    margin: 2.5%;
}

@media screen and (max-width: 480px) {
    .custom-navbar {
        font-size: 3em;
    }

    .col2 {
        padding-top: 2.5%;
        margin-left: 0%;
    }
}