.navbar {
    background-color: #EA0100;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.item {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1pt solid gainsboro;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.selected {
    background-color: gray;
}

.unselected {
    background-color: default;
}

@media screen and (max-width: 768px) {
  #order-list {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  .item {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1pt solid gainsboro;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    }

    #place-order-btn {
        margin-top: 5px !important;
    }
}